.buttonSignUp{
    -fx-background-radius: 10;
    -fx-background-color:  #7289da;
}
.buttonSignUp:hover {
    -fx-background-color:  #5e77d4;
}
.buttonSignUp:pressed {
    -fx-background-color:  #4a67cf;
}

.boxField{
    -fx-background-color:  #303338;
    -fx-text-fill:  #e4e5e5;
    -fx-background-radius: 10;
}
.boxField:focused {
    -fx-border-color: #7289da;
}


.buttonBan{
    -fx-text-fill:  #e4e5e5;
    -fx-background-radius: 10;
    -fx-background-color:  #7289da;
}
.buttonBan:hover {
    -fx-background-color:  #ff0000;
}
.buttonBan:pressed {
    -fx-background-color:  #b30000;
}


.ButtonUnBun{
    -fx-text-fill:  #e4e5e5;
    -fx-background-radius: 10;
    -fx-background-color:  #7289da;
}
.ButtonUnBun:hover{
    -fx-background-color:  #ff8000;
}
.ButtonUnBun:pressed{
    -fx-background-color:  #cc6600;
}

.buttonMenu{
    -fx-background-color:  #303036;
    -fx-background-radius: 0;
}
.buttonMenu:hover{
    -fx-background-color:  #60606c;
}
.buttonMenu:pressed{
    -fx-background-color:  #787887;
}