.anchorPane{
    -fx-background-color: #1757cf;
}
.anchorPaneMenu{
    -fx-background-color: #588dec;
}
.pane{
    -fx-background-color: #8cb0f2;
}


.headerLabel{
    -fx-font: 36px Candara;
    -fx-text-fill: #030a17;
    -fx-font-weight: bold;
}
.normalLabel{
    -fx-font: 18px Candara;
    -fx-text-fill: #030a17;
}
.bigLabel{
    -fx-font: 27px Candara;
    -fx-text-fill: #030a17;
}


.boxField{
    -fx-font: 18px Candara;
    -fx-text-fill: #030a17;
    -fx-background-color:  #d4d7dd;
    -fx-background-radius: 10;
}
.boxField:focused{
    -fx-border-color: #05132e;
}
.boxArea{
    -fx-font: 18px Candara;
    -fx-text-fill:  #030a17;
    -fx-background-radius: 10;
    -fx-control-inner-background: #d4d7dd;
}
.boxArea:focused{
    -fx-border-color: #05132e;
}


.buttonMenu{
    -fx-font: 18px Candara;
    -fx-text-fill: #000000;
    -fx-background-color: #4781eb;
    -fx-background-radius: 0;
}
.buttonMenu:hover{
    -fx-background-color: #3071e8;
}
.buttonMenu:pressed{
    -fx-background-color: #1961e6;
}
.buttonDefault{
    -fx-font: 18px Candara;
    -fx-text-fill: #030d17;
    -fx-background-radius: 10;
    -fx-background-color: #1773cf;
}
.buttonDefault:hover{
    -fx-background-color: #1259a1;
}
.buttonDefault:pressed{
     -fx-background-color: #0a335c;
}
.buttonCancel{
    -fx-font: 18px Candara;
    -fx-text-fill:  #030d17;
    -fx-background-radius: 10;
    -fx-background-color:  #1773cf;
}
.buttonCancel:hover{
    -fx-background-color:  #ff8000;
}
.buttonCancel:pressed{
    -fx-background-color:   #cc6600;
}
.buttonBan{
    -fx-font: 18px Candara;
    -fx-text-fill:  #030d17;
    -fx-background-radius: 10;
    -fx-background-color:  #1773cf;
}
.buttonBan:hover {
    -fx-background-color:  #ff0000;
}
.buttonBan:pressed {
    -fx-background-color:  #b30000;
}